@model Stan.SQLData.Stan

@{
    ViewBag.Title = "Избриши стан";
}

<h2>Избриши стан</h2>

<h3>Дали сте сигурни дека сакате да го избрешете овој стан?</h3>
<div>
  

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
